* {
      box-sizing: border-box;
}

html {
      scroll-behavior: smooth;
}

body {
      font-family: 'Montserrat', sans-serif;
      background-color: #e3e3c9;
      margin: 0;
      padding: 0;
}

nav {
      padding: 20px 100px;
      color: #ffffff;
      background-color: #0d1c09;
}

nav div {
      display: flex;
      justify-content: space-between;
}

.nav-top div {
      gap: 20px;
}

.nav-top a {
      text-decoration: none;
      color: #ffffff;
}

.nav-main {
      align-items: end;
      margin-top: 15px;
      padding: 0px 50px;
}

.nav-main div {
      position: relative;
      flex-direction: column;
}

.logo-top {
      font-family: 'Cormorant Garamond';
      font-size: 30px;
      font-weight: bold;
}

.logo-bottom {
      position: absolute;
      top: 30px;
      left: 0;
      font-weight: 300;
      color: #9bc060;
}

.nav-main ul {
      display: flex;
      gap: 20px;
      list-style: none;
      font-size: 17px;
      font-weight: 700;
      margin: 0;
}

.nav-main a {
      text-decoration: none;
      color: #596a3e;
}

.nav-main a:hover {
      text-decoration: underline 1px;
}

.hero-container {
      background-image: url('../assets/matcha_background.png');
      background-size: cover;
      background-position: center;
      color: #ffffff;
      padding: 200px 0px 150px 100px;
      width: 100%;
}

.hero-title {
      font-family: 'Cormorant Garamond';
      font-size: 150px;
      font-weight: 400;
      margin: 0;
}

.hero-subtitle {
      font-size: 20px;
      margin: 0 0 25px;
}


.hero-cta {
      border: none;
      border-radius: 50px;
      background-color: #d17722ea;
      font-size: 18px;
      font-weight: 500;
      padding: 15px 30px;
}

.hero-cta a {
      text-decoration: none;
      color: #ffffff;
}

.hero-cta:hover {
      cursor: pointer;
      background-color: #df9b1cea;
}

.hero-cta:active {
      background-color: #ce6f17ea;
}

.about {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 100px;
      justify-content: space-between;
      padding: 30px 100px 100px 100px;
}

.about img {
      object-fit: cover;
      width: 100%;
      border-radius: 30px;
}

.about-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
}

.about-content span {
      font-weight: bold;
      font-size: 18px;
}

.about-content h2 {
      font-size: 60px;
      margin: 30px 0 30px 0;
}

.about-content p {
      font-size: 18px;
}

.about-cta {
      border: none;
      border-radius: 5px;
      background-color: #000000;
      color: #ffffff;
      font-size: 18px;
      font-weight: 500;
      padding: 15px 30px;
      margin-top: auto;
}

.about-cta a {
      text-decoration: none;
      color: #ffffff;
}

.about-cta:hover {
      cursor: pointer;
      background-color: #353535;
}

.menu h2 {
      font-size: 45px;
      text-align: center;
}

.cards-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 15px;
      padding: 30px 100px 30px 100px;
}

.cards-grid img {
      width: 100%;
      border-radius: 8px;
}

.card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 30px;
      background-color: #fbf0de;
}

.card h3 {
      font-size: 20px;
}

.card p {
      font-size: 18px;
}

.card a {
      font-size: 18px;
      font-weight: 600;
      margin-top: auto;
      text-decoration: none;
      color: #000000;
}

.location {
      background-color: #3c491e;
      background-image: url('../assets/green_matcha.png');
      background-repeat: no-repeat;
      background-position: right center;
      background-size: contain;
      color: #ffffff;
      padding: 130px 0 130px 100px;
}

.location h2 {
      font-size: 45px;
}

.location p {
      font-size: 18px;
      font-weight: 600;
}

footer {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 100px;
      background-color: #0b1908;
      padding: 30px 100px 30px 100px;
      color: #ffffff;
}

footer div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
}

footer a {
      text-decoration: none;
      color: #ffffff;
}

footer h3,
p {
      margin: 0;
}

.footer-logo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
}

.logo {
      position: relative;
      height: 47px;
}

.footer-navigation ul {
      list-style: none;
      padding: 0;
      margin: 0;
}

.footer-navigation ul li {
      margin-bottom: 15px;
}

.footer-navigation a:hover {
      text-decoration: underline 1px;
}

@media (min-width: 375px) and (max-width: 960px) {}


@media (max-width: 480px) {
      .hero-container {
            padding: 50px 25px 50px 25px;
      }

      .hero-title {
            font-size: 100px;
      }

      .hero-subtitle {
            font-size: 15px;
      }

      .hero-cta {
            padding: 10px 15px;
            font-size: 13px;
      }

      .about {
            display: block;
            padding: 15px 25px 50px 25px;
      }

      .about-content span {
            font-size: 12px;
      }

      .about-content h2 {
            font-size: 30px;
            margin: 15px 0 15px 0;
      }

      .about-content p {
            font-size: 15px;
      }

      .about-cta {
            padding: 10px 15px;
            font-size: 13px;
            margin-top: 15px;
      }

      .about-img {
            display: none;
      }

      .menu h2 {
            font-size: 26px;
            margin-top: 0;
      }

      .cards-grid {
            grid-template-columns: 1fr;
            padding: 0 50px 50px 50px;
      }

      .card h3 {
            font-size: 19px;
      }

      .card p {
            font-size: 15px;
      }

      .card a {
            font-size: 13px;
            margin-top: 15px;
      }

      .location {
            padding: 15px 25px 50px 25px;
      }

      .location h2 {
            font-size: 26px;
      }

      .location p {
            font-size: 15px;
      }

      footer {
            grid-template-columns: 1fr;
            gap: 20px;
            padding: 15px 25px 50px 25px;
      }

      footer h3 {
            font-size: 19px;
      }

      footer p, a {
            font-size: 15px;
      }

      .footer-navigation ul {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-bottom: 0;
      }

      .footer-navigation ul li{
            margin-bottom: 0;
      }

      .footer-text {
            display: none;
      }
}